<app-navbar></app-navbar>
<div
  class="container text-center"
  style="font-family: Arial, Helvetica, sans-serif;"
>
  <h1>Welcome to Admin</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <button
        class="btn btn-dark form-control"
        (click)="AddNewProduct()"
        style="cursor: pointer;"
      >
        Add Product
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-dark form-control" (click)="AddNewCategory()">
        Add New Categories
      </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-dark form-control" (click)="AddNewUser()">
        Add New user
      </button>
    </div>
  </div>
  <div
    class="card"
    style="margin-top: 20px;"
    *ngIf="catergory || (product && user)"
  >
    <form>
      <h1>catogries</h1>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
    </form>
  </div>

  <div
    class="card"
    style="margin-top: 20px;"
    *ngIf="product || (catergory && user)"
  >
    <form>
      <h1>Product Details</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="category"
              placeholder="Catergory"
              [(ngModel)]="category"
              name="category"
              list="catergoryyy"
            />
            <datalist id="catergoryyy">
              <option value="Books"> </option>
              <option value="Electronics"> </option>
              <option value="Phone"> </option>
              <option value="Toys"> </option>
              <option value="Clothing"> </option>
              <option value="Games"> </option>
              <option value="Shoes"> </option>
              <option value="Watches"> </option>
            </datalist>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="productName"
              placeholder="Name"
              [(ngModel)]="productName"
              name="productName"
              list="productNameee"
            />
            <datalist id="productNameee">
              <option value="Dan Brwon"> </option>
              <option value="Lights"> </option>
              <option value="Elon Musk"> </option>
              <option value="Phone"> </option>
              <option value="Laptop"> </option>
              <option value="Speaker"> </option>
              <option value="Teddy Bear"> </option>
              <option value="Toy Car"> </option>
              <option value="Nerf Gun"> </option>
              <option value="Mario"> </option>
              <option value="Contra"> </option>
              <option value="PUBG"> </option>
              <option value="Timberland"> </option>
              <option value="Nike"> </option>
              <option value="Addidas"> </option>
              <option value="Rado"> </option>
              <option value="Rolex"> </option>
              <option value="LV"> </option>
            </datalist>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="productSize"
              placeholder="Size"
              [(ngModel)]="productSize"
              name="productSize"
              list="productSizeee"
            />
            <datalist id="productSizeee">
              <option value="XS"> </option>
              <option value="S"> </option>
              <option value="M"> </option>
              <option value="L"> </option>
              <option value="XL"> </option>
              <option value="8"> </option>
              <option value="9"> </option>
              <option value="10"> </option>
            </datalist>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="productColor"
              placeholder="Color"
              [(ngModel)]="productColor"
              name="productColor"
              list="productColorrr"
            />
            <datalist id="productColorrr">
              <option value="Red"> </option>
              <option value="White"> </option>
              <option value="Black"> </option>
              <option value="Yellow"> </option>
              <option value="Blue"> </option>
              <option value="Green"> </option>
              <option value="Silver"> </option>
              <option value="Grey"> </option>
            </datalist>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              id="productPrice"
              placeholder="Price"
              [(ngModel)]="productPrice"
              name="productPrice"
            />
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button
          type="submit"
          (click)="AddProduct()"
          class="btn btn-dark col-sm-4 form-control"
        >
          Add Product
        </button>
      </div>
    </form>
  </div>
  <div class="card" style="margin-top: 20px;" *ngIf="user">
    <form>
      <h1>user</h1>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>

        <div class="col-sm-6">
          <input
            type="text"
            name="catergory"
            id="Category"
            class="form-control"
            placeholder="catogries list"
          />
        </div>
      </div>
    </form>
  </div>
</div>
