
<app-navbar></app-navbar>
<app-slider></app-slider>

<div class="container-fluid" style="margin-top: 10px;">
  <!-- <div class="progress-box" ng-if=false style="text-align:center;">
    <i class="fa fa-spinner fa-pulse fa-3x fa-align-center" aria-hidden="true"></i><br>Processing...
    </div> -->
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>





  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="child bg-six">
          <span>San Francisco</span>
        </div>
      </div>
    </div>
  </div>
</div>


